.header {
  grid-area: header;
}
.content {
  grid-area: content;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "header"
    "content"
}
